<div class="fl w-100 pa4 bg-light-yellow">
  <canvas
  onmousedown={{action mouseDown}}
  onmousemove={{action mouseMove}}
  onmouseup={{action mouseUp}}
  width="400"
  height="300"
  style="border:1px solid #000000; background-color: #c2c8c5;"
  />
</div>
