<div class="fl w-100 pa3 bg-light-yellow">
  <canvas
  onmousemove={{action mouseAction}}
  onmousedown={{action mouseAction}}
  onmouseup={{action mouseAction}}
  width="490"
  height="220"
  style="border:1px solid #000000; background-color: #c2c8c5;"
  />
</div>
